<!-- {% extends 'base.html' %} {% block content %} -->
<html>
  <head><meta charset="utf-8">


<!-- <script>
const getSeconds = () => {
    let dt = new Date();
    let se = dt.getSeconds();
    const message = document.getElementById("mainbutton");
    message.innerText = se.toString();
  }
setInterval(getSeconds, 1000)

</script> -->
<link rel="stylesheet" href="..\static\css\style.css">
  </head>
  <body>


Room Name: <input type="text" name="roomname" id="roomname" placeholder="Room Name"> <br><br>
<button type="submit" name="create" class="create-btn">Create a Room</button> <br>
<input type="checkbox" checked="checked">Reset if exists?</input> <br><br>
<button type="submit" name="join" class="create-btn">Join a Room</button> <br><br>
Optional: <br><br>
Game Name: <input type="text" name="gamename" id="gamename" placeholder="Game Name">  <br><br>
LED Matrix Code: <input type="text" name="ledmatrix" id="ledmatrix" placeholder="LED Matrix Code">  <br><br>
LED Strip Code: <input type="text" name="ledstrip" id="ledstrip" placeholder="LED Strip Code">  <br><br>
<p>



<table>
    <tr>
      <th>Player #</th>
      <th>ColorName</th>
      <th>LED Position</th>
    </tr>
    <!-- better way to do this is load dynamically with JS  -->
    <tr>
      <td id="player_1_color_visual">1</td>
      <td>
        <div class="player_color">   
            <select id="player_1_color" title="colorName" name="colors">
                <option value="none">None</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
                <option value="yellow">Yellow</option>
                <option value="orange">Orange</option>
                <option value="brown">Brown</option>
                <option value="deep-orange">Deep-Orange</option>
        </select></div>
      </td>
      <td><select title="LEDPositionNumber">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select></td>
    </tr>
    <tr>
      <td id="player_2_color_visual">2</td>
      <td>
        <div class="player_color">   
            <select id="player_2_color" title="colorName" name="colors">
                <option value="none"><div color="red">None</div></option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
                <option value="yellow">Yellow</option>
                <option value="orange">Orange</option>
                <option value="brown">Brown</option>
                <option value="deep-orange">Deep-Orange</option>
        </select></div>
      </td>
      <td><select title="LEDPositionNumber">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select></td>
    </tr>
    <tr>
      <td id="player_3_color_visual">3</td>
      <td>
        <div class="player_color">   
            <select id="player_3_color" title="colorName" name="colors">
                <option value="none"><div color="red">None</div></option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
                <option value="yellow">Yellow</option>
                <option value="orange">Orange</option>
                <option value="brown">Brown</option>
                <option value="deep-orange">Deep-Orange</option>
        </select></div>
      </td>
      <td><select title="LEDPositionNumber">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select></td>
    </tr>
    <tr>
      <td id="player_4_color_visual">4</td>
      <td>
        <div class="player_color">   
            <select id="player_4_color" title="colorName" name="colors">
                <option value="none"><div color="red">None</div></option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
                <option value="yellow">Yellow</option>
                <option value="orange">Orange</option>
                <option value="brown">Brown</option>
                <option value="deep-orange">Deep-Orange</option>
        </select></div>
      </td>
      <td><select title="player_4_LEDPositionNumber">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select></td>
    </tr>
    <tr>
      <td id="player_5_color_visual">5</td>
      <td>
        <div class="player_color">   
            <select id="player_5_color" title="colorName" name="colors">
                <option value="none"><div color="red">None</div></option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
                <option value="yellow">Yellow</option>
                <option value="orange">Orange</option>
                <option value="brown">Brown</option>
                <option value="deep-orange">Deep-Orange</option>
        </select></div>
      </td>
      <td><select title="player_5_LEDPositionNumber">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select></td>
    </tr>
  </table>

<script>
    player_1_color.onchange = function () {
        var p = document.getElementById("player_1_color_visual");
        p.setAttribute("class",player_1_color.value);
    }
    player_2_color.onchange = function () {
        var p = document.getElementById("player_2_color_visual");
        p.setAttribute("class",player_2_color.value);
    }
    player_3_color.onchange = function () {
        var p = document.getElementById("player_3_color_visual");
        p.setAttribute("class",player_3_color.value);
    }
    player_4_color.onchange = function () {
        var p = document.getElementById("player_4_color_visual");
        p.setAttribute("class",player_4_color.value);
    }
    player_5_color.onchange = function () {
        var p = document.getElementById("player_5_color_visual");
        p.setAttribute("class",player_5_color.value);
    }
</script>
</body>
</html>